body {
    margin: 0;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf) 

}

@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf)

}

.header__box {
    /*width: 1660px;*/
    color: white;
    text-transform: uppercase;
    background-image: url(images/rock-73.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    max-width: 1940px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 27px 0 146px;
}

.header__box::before { 
    content: "";
    position: absolute;
    z-index: -1;
    /*width: 1690px;
    height: 450px;*/
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;

}

.container  {
    /*max-width: 1940px;
    padding: 0 247px;*/
    width: 1660px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /*padding: 18px 238px 68px 248px;*/
    
}

.header__logo {
    width: 180px;

}

.menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 35px;
 
}

.menu__item {
    list-style-type: none;
   
}

.menu__link {
    font-family: 'OpenSans-Regular', sans-serif;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    
}

/*.menu__link:hover {
    color: #b59f5b;

}*/

.title__intro {
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: normal;
    font-size: 45px;
    text-align: center;
    line-height: 75px;

    
    margin: 125px auto 0;
    width: 680px;

}








.general__content {
    display: flex;
    gap: 120px;
    width: 1170px;
    padding: 0 15px;
    margin: 64px auto 0;
}

.main__box {
   /*margin: 64px 0 0 154px;*/
   width: 778px;

}

.container_main { 
    margin-bottom: 45px;
    gap: 30px;
    display: flex;

}

.card__images {
    width: 381px;

}

/*.content {
    width: 367px;

}*/

.content__title {
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 43px;

    color: #000;
    text-decoration: none;
}

.link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;

}

.link__item {
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #b59f5b;
    text-decoration: none;
    text-transform: uppercase;
    
}

.data {
    font-family: 'OpenSans-Regular', sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 53px;

}

.span__quote {
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.info {
    font-family: 'OpenSans-Regular', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
      
}











.aside__box {
    /*margin: 64px 231px 0 0;*/
    width: 272px;

}

.title__aside {
    padding-bottom: 45px;
    text-align: center;
    position: relative;

}

.title__aside::before {
    content:  '';
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    left: 103px;
    bottom: 30px;

}

.container__aside { 
    font-family: 'OpenSans-Regular',sans-serif;
    font-style: normal;
    font-size: 12px;
    width: 271px;

    
}

.container__item {
    display: flex;
     
}

.title__item {
    margin: 0px;
}

.content__section {
    font-family: 'OpenSans-Bold',sans-serif;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;

    color: #000;
    text-decoration: none;

}

.card__item {
    width: 71px;

}

.form__row {
    padding-top: 60px;
    display: flex;

}

.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

}

.field {
    font-family: inherit;
    font-size: 13px;
    box-sizing: border-box;
    width: 223px;
    border: #f4f7f6;
    padding: 19px 0 19px 19px;
    background-color: #f4f7f6;

}

/*.field:focus {
    outline: 2px solid #b59f5b;
    border-radius: 1%;

}*/

.button {
    
    background-color: #b59f5b;
    box-sizing: border-box;
    width: 48px;
    border: #b59f5b;
    padding: 16px;
    cursor: pointer;

}

.button__search {
    background-image: url(images/picture_search.png);
    background-repeat: no-repeat;
    background-position: center center;

}

.mailing__aside {
    font-family: 'Opensans-Bold', sans-serif;
    font-style: normal;
    font-size: 14px;

    padding-top: 63px;
    text-align: center;
    text-transform: uppercase;
    position: relative ;

}

.mailing__aside::before {
    content:  '';
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    left: 103px;
    bottom: -17px;

}

.form__mailing {
    padding-top: 40px;
    
}

.mailing__field {
    width: 272px;
    margin-bottom: 28px;

}

.mailing__button {
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    width: 272px;
    
}

.tags__aside {
    font-family: 'Opensans-Bold', sans-serif;
    font-style: normal;
    font-size: 14px;

    padding-top: 62px;
    text-align: center;
    text-transform: uppercase;
    position: relative ;

}

.tags__aside::before {
    content:  '';
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    left: 103px;
    bottom: -17px;

}

.tags__container {
    margin: 0;
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: normal;
    font-size: 12px;

    padding-top: 41px;

}

.tags__item {
    list-style: none;
    
}

.tags__link {
    margin-right: 2px;
    margin-top: 6px;

    display: inline-block;
    border: 1px solid #eeeeee;
    padding: 2px 9px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

}

.news__aside {
    font-family: 'Opensans-Bold', sans-serif;
    font-style: normal;
    font-size: 14px;

    padding-top: 61px;
    text-align: center;
    text-transform: uppercase;
    position: relative ;

}

.news__aside::before {
    content:  '';
    position: absolute;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    left: 103px;
    bottom: -17px;

}

.news__container {
    margin: 0;
    font-family: 'OpenSans-Bold', sans-serif;
    font-style: normal;
    padding-top: 44px;

}

.news__item {
    font-size: 11px;
    color: #b59f5b;
    list-style: none;

    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 15px 0;

}

.news__number {
    /*position: absolute;*/
    padding: 0px;
    margin: 0px;

}

.news__link {
    font-size: 14px;
    color: #000;
    text-decoration: none;

}







.footer__box {
    margin: 25px 15px;
    width: 1170px;
    background-color: #f4f7f6;
    text-align: center;

}

.footer__item {
    list-style: none;
    
}

.footer__menu {
    display: flex;
    justify-content: center;
    gap: 82px;
    padding: 32px;
    
}
.footer__link {
    display: block;
    width: 23px;
    height: 21px;
     
}

.icon__twitter {
    background-image: url(images/icon_twitter.png);
    background-repeat: no-repeat;
    background-position: center center;

}

.icon__pinterest {
    background-image: url(images/icon-pinterest.png);
    background-repeat: no-repeat;
    background-position: center center;
    
}

.icon__tumblr {
    background-image: url(images/icon-tumblr.png);
    background-repeat: no-repeat;
    background-position: center center;
    
}

.copyright {
    width: 1170px;
    margin-left: 167px;
    margin-bottom: 41px;

    color: #999999;
    display: flex;
    justify-content: center;

    text-decoration: none;
}